.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(8, 80, 120, 1),
      rgba(133, 216, 206, 0.9)
    ),
    url('../images/header-img.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__avatar__logo-container {
    position: absolute;
    top: 6rem;
    left: 4rem;
  }

  &__avatar__logo {
    height: 12rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    transition: all 0.2s;

    &:hover {
      outline: 1rem solid $color-primary-light;
      transform: scale(1.1) translateY(-2rem);
    }
  }

  &__heading--container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
