.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #085078, #85d8ce);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__avatar__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__avatar__logo {
    height: 12rem;
    border-radius: 50%;
  }

  &__heading--container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
